
<div>
   <%# TODO:add some css styling %>
  <%= link_to "Manage Drivers", drivers_path %>
</div>

<div>
  <%# TODO: add some css styling %>
  <%= link_to "Manage Passengers", passengers_path %>
</div>

<div>
  <%# TODO: add some css styling %>
  <%= link_to "Manage Trips", trips_path %>
</div>